@use '/src/front/config/sass' as *;

$icon-padding: rem(7);
$icon-size-large: rem(68);
$icon-size-default: rem(50);

.toolnav {
  --horizontal-padding: 30px;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100vw;

  &-content {
    position: absolute;
    top: -50%;
    z-index: 1;
    padding: rem(15) var(--horizontal-padding);
    width: 100%;
    transition: transform 1s ease-in-out;

    button {
      position: relative;
      z-index: 0;
      margin-right: $icon-padding;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-buttons {
    height: rem(68);
    margin-left: auto;
    transition: all 0.5s ease-in-out;
  }

  &-infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: rem(8);
    color: get-color('gray-30');
    font-size: get-font-size(xsmall);
    transition: all 1s ease-in-out;
  }

  &__icon--remove {
    position: relative;
    z-index: 1;
    height: rem(50);
    width: rem(50);
    background-color: get-color('gray-60');
    color: get-color('gray-30');
    transform: rotate(-45deg);
  }

  .center-icons {
    transform: translateX(calc(-50% + calc($icon-size-default / 2))) translateY(rem(10));
  
    button:first-child {
      margin: 0;
      transform: translateX(calc(100%));
    }
  }
}

.toolnav--simple {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: rem(100);
  border-top-left-radius: rem(50);
  border-top-right-radius: rem(50);
  background-color: get-color('gray-70');
  transition: all 0.5s ease-in-out;
  animation: slide-up-basic 0.6s ease-out;

  .toolnav-buttons {
    text-align: end;
  }
}

.toolnav--animate {
  .toolnav-content {
    transform: translateY(200vh);
  }
}

.toolnav--form {
  height: rem(48);
  border-top-left-radius: rem(50);
  border-top-right-radius: rem(50);
  background-color: get-color('gray-70');
  animation: slide-up-basic 0.6s ease-out;

  .toolnav-content {
    top: -100%;
  }

  .toolnav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

@keyframes slide-up-basic {
  0% {
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(0);
  }
}
