@use '/src/front/config/sass' as *;

$icon-padding: rem(7);
$icon-size-large: rem(68);
$icon-size-default: rem(50);

.toolnav {
  --horizontal-padding: 30px;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;

  &_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: -36%;
    right: 0;
    width: 100%;
    height: rem(68);
    padding: 0 var(--horizontal-padding);
    transition: transform 0.5s ease-in-out;

    button {
      padding: 0 $icon-padding;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
    }

    &_container {
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
    }
  }

  &_infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: rem(100);
    padding: rem(15) var(--horizontal-padding);
    border-top-left-radius: rem(50);
    border-top-right-radius: rem(50);
    background-color: get-color('gray-70');
    color: get-color('gray-30');
    font-size: get-font-size(xsmall);
    transition: all 0.5s 0.5s ease-in-out;

    & > * {
      transition: transform 1s ease-in-out;
    }
  }
}

.icon {
  & > svg {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out, width 0.3s;
  }

  &_remove > svg {
    transform: rotate(-45deg);
    width: $icon-size-default;
  }

  &_bgColor {
    fill: get-color('moutarde');
  
    &_remove {
      fill: get-color('gray-60');
    }
  }

  &_color {
    fill: get-color('gray-80');
  
    &_remove {
      fill: get-color('gray-30');
    }
  }
}

.centerIcons {
  transform: translateX(calc(-100% - $icon-padding));

  button:first-child {
    transform: translateX(calc(100%));
  }
}

.toolnav_form {
  height: 100vh;
  border-radius: rem(0);
  transform: translateY(0);
  animation: slide-up 1s 0.25s ease-in-out;

  &_buttons {
    transform: translateX(100vw);
  }

  & > * {
    transform: translateY(200vh);
  }
}

@keyframes slide-up {
  0% {
    height: rem(150);
    border-radius: rem(50);
    transform: translateY(50px);
  }
  40% {
    height: 100vh;
    border-radius: rem(50);
    transform: translateY(100vh);
  }
  80% {
    height: 100vh;
    border-radius: rem(50);
    transform: translateY(0);
  }
  100% {
    border-radius: rem(0);
  }
}
