@use '/src/front/config/sass' as *;
@use '/src/front/abstract/grid-system/mixins' as *;

.container {
  min-height: calc(100vh - 8.9rem);
  height: calc(100vh - 8.9rem);
  padding: rem(46) rem(22) 0;
  overflow: hidden;
}

.select {
  max-width: rem(195);
}

.timesheets_container {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}