@use '/src/front/config/sass' as *;

.container {
  min-height: 100vh;
  padding: rem(46) rem(22) rem(130);
}

.select {
  max-width: rem(195);
}

.timesheets_container {
  display: flex;
  flex-direction: column;
  min-height: rem(312);
  height: 100%;
  max-height: 100%;
}