@use '../../config/sass' as *;

$number-of-columns: 12;
$include-pull: true;
$include-push: true;
$include-rtl: true;

$base: (
  margins: rem(30),
  max-width: rem(420),
  gutters: rem(20)
);

$breakpoints: (
  xsmall: (
    shorthand: 'xs',
    value: rem(350),
    margins: null,
    max-width: rem(350),
    gutters: null
  ),
  small: (
    shorthand: 'sm',
    value: rem(560),
    margins: null,
    max-width: rem(560),
    gutters: null
  ),
  medium: (
    shorthand: 'md',
    value: rem(720),
    margins: null,
    max-width: rem(1140),
    gutters: null
  ),
  large: (
    shorthand: 'lg',
    value: rem(1000),
    margins: rem(60),
    max-width: null,
    gutters: rem(30)
  ),
  wide: (
    shorthand: 'wd',
    value: rem(1280),
    margins: null,
    max-width: null,
    gutters: null
  )
);
