@use '/src/front/config/sass' as *;

.card {
  position: absolute;
  top: 0;
  left: - rem(22);
  width: 100vw;
  height: calc(100% + rem(130));
  padding: rem(42) rem(22);
  border-radius: 50px 50px 0px 0px;
  background: get-color('white');
  box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.15);
  transform: translateY(100vh);
  animation: slideDown 0.4s ease-in-out;

  &_open {
    transform: translateY(0);
    animation: slideUp 0.4s ease-in-out;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
