@use '/src/front/config/sass' as *;

.table {
  overflow-y: scroll;

  &_row {
    font-size: get-font-size(small);

    &_content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: rem(10);
      padding-bottom: rem(10);
      border-bottom: 1px solid get-color('gray-30');
    
      & > * {
        padding-right: rem(10);
      }
    
      & > *:first-child {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        color: $font-default-color;
    
        & > *:first-child {
          min-width: rem(110);
          padding-right: rem(10);
        }
      }
    }

    &_details {
      padding: rem(14) 0;
      background: get-color('gray-20');
      background: linear-gradient(270deg, rgba(239, 239, 239, 0) 0%, #F8F8F8 53.03%, rgba(239, 239, 239, 0) 108.31%);
      overflow: hidden;
      transition: max-height 0.4s ease-in-out, padding 0.4s;

      li {
        margin-bottom: rem(10);
        color: get-color('gray-60');
      }
    }
  }
}

.infos {
  display: flex;

  & > * {
    flex: 1;
    min-width: rem(50);
    padding-right: rem(10);
    color: get-color('gray-50');
  }
}

.edit {
  width: rem(20);
  padding: 0;
  padding-right: rem(20);
  cursor: pointer;
}

.chevron {
  width: rem(16);
  height: auto;
  padding: 0;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s;

  &_down {
    width: auto;
    height: rem(16);
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform 0.3s;
  }
}

.close {
  & > ul {
    max-height: 0;
    padding: 0;
  }
}