@use '/src/front/config/sass' as *;

.container {
  height: 100%;

  &_scroll {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid get-color('gray-80');
}

.chevron {
  width: rem(16);
  height: auto;
  padding: 0;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 0.3s;

  &_down {
    width: auto;
    height: rem(16);
    cursor: pointer;
    transform: rotate(90deg);
    transition: transform 0.3s;
  }
}

.content {
  max-height: rem(650);
  background: get-color('gray-20');
  background: linear-gradient(270deg, rgba(239, 239, 239, 0) 0%, #F8F8F8 53.03%, rgba(239, 239, 239, 0) 108.31%);
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, padding 0.4s;

  &_list {
    border-bottom: 1px solid get-color('gray-30');

    &:last-child {
      border: none;
    }
  }

  &_close {
    & + ul {
      max-height: 0;
      padding: 0;
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
