@use '/src/front/config/sass' as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: rem(46) rem(22) 0;
  background-color: get-color('gray-70');

  & > *:first-child,
  & > *:nth-child(2) {
    animation: fade 3s ease;
  }

  label {
    min-width: fit-content;
    min-width: -moz-fit-content;
    font-weight: 600;
  }
}

.form {
  --padding-x: 1.375rem;

  flex: 8 0;
  width: 100vw;
  padding: rem(45) var(--padding-x);
  padding-right: 0;
  border-top-left-radius: rem(50);
  border-top-right-radius: rem(50);
  margin-left: - rem(22);
  animation: slide-up-basic 0.6s ease-out;

  &_section {
    margin-bottom: rem(35);

    & > * {
      padding-right: var(--padding-x);
    }
  }

  &_slider_container {
    padding-right: 0;
  }

  &_slider {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-left: rem(10);

    &::-webkit-scrollbar {
      display: none;
    }

    button {
      min-width: fit-content;
      min-width: -moz-fit-content;
    }
  }
}

.progressbar {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: rem(30);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up-basic {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
